body {
    font-family: 'Raleway', sans-serif;
    background-color:#fff;
    background: url(cc.jpg)
  }
  
  ul{
    float: right;
    list-style-type: none;
    margin-top: -110px;
    margin-right: 1px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color:#000;
}    
  .about-content {
    max-width:800px;
    margin: 0 auto;
  }
  .about-content h2 {
    font-size: 30px;
    line-height:45px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(65, 132, 255);
    text-transform: uppercase;
  }
  .img-fluid{
      position: absolute;
      left: 400px;
      top: 380px;
  }
  .about-content p {
    font-weight: 300;
    color: rgb(65, 132, 255);
    font-size: 18px;
  }
  
  .about-content {
    padding-right:60px;
  }
  
  .btn-black {
    color:#fff;
    background-color:rgba(0,0,0,1);
    transition: 0.5s;
    border-radius:1;
  }
  
  .btn-black:hover {
    color:#fff;
    background-color:rgba(0,0,0,0.8);
    transition: 0.5s;
  }
  
  @media (max-width:576px) {
    .about-content {
      padding-right:0;
    }
    .about-content h2 {
      font-size:26px;
    }
    .about-content p {
      font-size:16px;
    }
  }
  .base{

    background-color: rgb(7, 7, 7);
    width:100%;
    position:absolute;
    top: 110%;
    font-size: 20px;
    color: #FFF
  }